* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fonts-headings: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --md-font-size: 1rem;
}
html {
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}
.navBar {
  padding: 20px;
  /* display: flex; */
  border-bottom: 1px solid #e2e8f0;
}

.projectName {
  font-family: var(--fonts-headings);
  font-weight: 700;
  font-size: var(--md-font-size);
  background-image: linear-gradient(to left, #dd6b20, #48bb78);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.navBar-Heading {
  text-align: center;
}
.navBar-Button {
  display: none;
  min-width: 6rem;
  min-height: 2.5rem;
}
.button-primary {
  background: #dd6b20;
  border-radius: 0.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 1rem;
  border: none;
  white-space: nowrap;
  transition: background, 0.5s;
}
.button-primary--text {
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.875rem;
  color: #ffffff;
}
.button-primary:hover {
  background-color: #bb5009;
}
@media screen and (min-width: 574px) {
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBar-Button {
    display: inline-flex;
  }
}
