* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonts-headings);
}
:root {
  --fonts-headings: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --md-font-size: 1rem;
  --text-color-orange: #dd6b20;
  --text-color-green: #48bb78;
  --spacing-1: 0.5rem;
  --spacing-2: 2rem;
  --spacing-3: 1rem;
  --spacing-4: 4rem;
  --mx-font-size-3: 3rem;
  --line-height-min: 1.2;
  --font-size-mid: 0.875rem;
  --text-color-gray: #718096;
}
html {
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}
img,
video {
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
}
/* nav section */
.navBar {
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding-inline-end: var(--spacing-2);
  padding-inline-start: var(--spacing-2);
}
.projectName {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to left,
    var(--text-color-orange),
    var(--text-color-green)
  );
  color: transparent;
  font-family: var(--fonts-headings);
  font-size: var(--md-font-size);
  font-weight: 700;
}
.navBar-Button {
  display: none;
  min-width: 6rem;
  min-height: 2.5rem;
}
.button-primary {
  background: #dd6b20;
  border-radius: 0.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: var(--spacing-3);
  border: none;
  white-space: nowrap;
  transition: background, 0.5s;
  appearance: none;
}
.button-primary--text {
  font-weight: 600;
  line-height: var(--line-height-min);
  font-size: var(--font-size-mid);
  color: #ffffff;
}
.button-primary:hover {
  background-color: #bb5009;
}
@media screen and (min-width: 574px) {
  .navBar {
    display: flex;
    justify-content: space-between;
  }
  .navBar-Button {
    display: inline-flex;
  }
}
/* hero section */
.hero-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  max-width: 800px;
  text-align: center;
  padding-top: var(--spacing-4);
  padding-inline-start: var(--spacing-3);
  padding-inline-end: var(--spacing-3);
}
.hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
}
h1 {
  display: block;
  cursor: pointer;
  line-height: var(--line-height-min);
  font-size: 4.5rem;
  font-weight: 800;
  transition: transform 1s ease-out;
}
@keyframes bounce {
  0%,
  50% {
    transform: translateY(-5px); /** start **/
  }
  20% {
    transform: translateY(-10px); /** start and end position **/
  }
  100% {
    transform: translateY(-10px); /** start and end position **/
  }
}
h1:hover {
  transform: translateY(-10px);
  animation: bounce 0.5s;
}
.header-text--primary {
  color: #2d3748;
}
.header-text--secondary {
  background-image: linear-gradient(
    to left,
    var(--text-color-orange),
    var(--text-color-green)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.hero__article {
  margin-top: var(--spacing-1);
  text-align: center;
  color: var(--text-color-gray);
  font-size: 1.25rem;
  font-weight: 300;
}
.hero__button {
  min-width: 8rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 2.5rem;
  min-height: 3rem;
  padding-inline-start: var(--spacing-3);
  padding-inline-end: var(--spacing-3);
  margin-top: 1.5rem;
}
.hero__picture--container {
  margin-top: var(--spacing-1);
}
.hero__picture {
  width: 100%;
  height: auto;
  max-width: 600px;
}
@media screen and (min-width: 360px) {
  .hero__heading {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-size: var(--mx-font-size-3);
  }
}
/* Adjust image size for smaller screens */
@media screen and (max-width: 600px) {
  .hero__picture {
    width: 100vw;
    height: auto;
  }
}

/* Adjust image size for larger screens */
@media screen and (min-width: 601px) {
  .hero__picture {
    width: 600px;
    height: auto;
  }
}
/* project features section */
.featuresCard {
  display: flex;
  margin: 4rem 4rem;
}
.featuresCard__tag {
  font-weight: 500;
  font-size: var(--font-size-mid);
  line-height: 1;
  text-transform: uppercase;
}
.featuresCard__tag--primary {
  color: var(--text-color-orange);
}
.featuresCard__heading {
  font-weight: 700;
  font-size: var(--mx-font-size-3);
  margin-bottom: var(--spacing-1);
}
.featuresCard__article p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--text-color-gray);
}
.featuresCard__lists {
  margin: 20px 10px;
  list-style-type: none;
  color: var(--text-color-gray);
}
.featuresCard__more {
  text-decoration: none;
  cursor: pointer;
}
.lm--primary {
  background: var(--text-color-green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.featureCardImage__Container--primary {
  margin-left: 20px;
}
.featureCardImage__Container--secondary {
  margin-right: 20px;
}
.featureCardImage {
  width: 500px;
  height: auto;
}
@media screen and (min-width: 30em) {
  .featuresCard__article {
    width: 60%;
  }
}
@media screen and (max-width: 360px) {
  .featuresCard {
    display: flex;
    flex-direction: column;
  }
}
